.container {
  display: grid;
  /* width: 100vw; */
  min-height: 100vh;
  /* height: 100vh; */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  /* margin: -10px; */
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .bash-banner {
    width: 50%;
  }
  nav {
    display: none;
  }
  nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.7em;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about img{
    width:75%;
  }
}
