#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 417px 1190px #fff, 1559px 1228px #fff, 322px 1668px #fff,
    1538px 210px #fff, 1061px 1766px #fff, 1773px 998px #fff, 23px 1747px #fff,
    1751px 682px #fff, 1946px 1135px #fff, 164px 451px #fff, 507px 439px #fff,
    1310px 526px #fff, 1877px 286px #fff, 668px 1253px #fff, 82px 1956px #fff,
    1135px 1220px #fff, 464px 260px #fff, 1071px 1554px #fff, 1377px 930px #fff,
    199px 1868px #fff, 357px 1382px #fff, 1974px 658px #fff, 1858px 1423px #fff,
    1766px 558px #fff, 834px 524px #fff, 1754px 1050px #fff, 1124px 736px #fff,
    729px 1780px #fff, 689px 831px #fff, 1677px 244px #fff, 266px 316px #fff,
    1623px 336px #fff, 1443px 760px #fff, 926px 1245px #fff, 1525px 841px #fff,
    829px 1738px #fff, 1454px 988px #fff, 1951px 466px #fff, 1026px 1413px #fff,
    155px 134px #fff, 1982px 700px #fff, 1361px 1324px #fff, 505px 979px #fff,
    197px 865px #fff, 833px 1227px #fff, 672px 1083px #fff, 819px 465px #fff,
    56px 1039px #fff, 756px 1494px #fff, 1265px 1381px #fff, 1155px 86px #fff,
    1370px 624px #fff, 1247px 1839px #fff, 990px 621px #fff, 95px 965px #fff,
    515px 523px #fff, 1700px 942px #fff, 502px 7px #fff, 1756px 539px #fff,
    1709px 1493px #fff, 991px 1297px #fff, 516px 1085px #fff, 1132px 699px #fff,
    522px 760px #fff, 1513px 1627px #fff, 689px 526px #fff, 225px 524px #fff,
    1230px 574px #fff, 902px 966px #fff, 890px 533px #fff, 1725px 568px #fff,
    870px 80px #fff, 368px 1480px #fff, 595px 826px #fff, 787px 1818px #fff,
    298px 875px #fff, 1888px 1578px #fff, 1304px 1722px #fff, 334px 1735px #fff,
    1823px 1600px #fff, 1457px 334px #fff, 1230px 1698px #fff, 699px 845px #fff,
    1566px 1527px #fff, 1852px 1435px #fff, 1843px 583px #fff,
    1071px 1481px #fff, 365px 1287px #fff, 1713px 1422px #fff, 674px 266px #fff,
    514px 793px #fff, 1351px 1049px #fff, 525px 1192px #fff, 1603px 1853px #fff,
    1483px 1436px #fff, 166px 94px #fff, 413px 809px #fff, 1994px 1070px #fff,
    91px 815px #fff, 359px 978px #fff, 515px 1430px #fff, 1455px 454px #fff,
    787px 1306px #fff, 631px 609px #fff, 353px 739px #fff, 1445px 1105px #fff,
    86px 514px #fff, 1759px 536px #fff, 1819px 1620px #fff, 1756px 771px #fff,
    951px 1245px #fff, 1909px 635px #fff, 1922px 130px #fff, 1646px 1675px #fff,
    217px 257px #fff, 479px 1901px #fff, 1434px 1142px #fff, 474px 1626px #fff,
    1038px 590px #fff, 770px 1112px #fff, 1377px 26px #fff, 1852px 1293px #fff,
    557px 1597px #fff, 194px 915px #fff, 1617px 73px #fff, 469px 1717px #fff,
    1273px 1529px #fff, 688px 842px #fff, 382px 921px #fff, 1324px 903px #fff,
    839px 1797px #fff, 914px 223px #fff, 940px 6px #fff, 1138px 347px #fff,
    1306px 975px #fff, 366px 631px #fff, 140px 677px #fff, 1343px 268px #fff,
    46px 1889px #fff, 372px 1859px #fff, 1435px 881px #fff, 562px 400px #fff,
    1226px 1987px #fff, 824px 203px #fff, 1846px 1656px #fff, 951px 221px #fff,
    194px 1655px #fff, 1857px 1792px #fff, 651px 1072px #fff, 711px 144px #fff,
    1477px 620px #fff, 1113px 1866px #fff, 573px 925px #fff, 77px 1497px #fff,
    841px 359px #fff, 336px 1217px #fff, 1484px 1160px #fff, 91px 1270px #fff,
    786px 1033px #fff, 348px 134px #fff, 785px 1398px #fff, 208px 791px #fff,
    1924px 505px #fff, 425px 869px #fff, 784px 1898px #fff, 1442px 1572px #fff,
    350px 1136px #fff, 1147px 131px #fff, 631px 618px #fff, 1937px 1444px #fff,
    1308px 1947px #fff, 543px 1892px #fff, 1498px 786px #fff, 1320px 676px #fff,
    1623px 920px #fff, 353px 1535px #fff, 1328px 706px #fff, 646px 1376px #fff,
    184px 1865px #fff, 1820px 1377px #fff, 810px 293px #fff, 515px 43px #fff,
    1945px 945px #fff, 389px 748px #fff, 144px 1577px #fff, 1651px 1632px #fff,
    927px 1818px #fff, 1758px 1931px #fff, 1805px 410px #fff, 60px 940px #fff,
    1737px 738px #fff, 1711px 997px #fff, 811px 1126px #fff, 771px 1979px #fff,
    1218px 1105px #fff, 1812px 1749px #fff, 1288px 565px #fff, 1126px 418px #fff,
    1841px 1174px #fff, 370px 1515px #fff, 486px 1127px #fff, 1404px 919px #fff,
    992px 1451px #fff, 222px 1571px #fff, 1650px 927px #fff, 98px 1156px #fff,
    1979px 579px #fff, 1326px 1708px #fff, 1355px 1791px #fff,
    1465px 1593px #fff, 535px 1614px #fff, 1285px 554px #fff, 1405px 223px #fff,
    841px 1515px #fff, 948px 1197px #fff, 304px 1076px #fff, 453px 426px #fff,
    1491px 1008px #fff, 672px 419px #fff, 576px 453px #fff, 1735px 1428px #fff,
    824px 190px #fff, 988px 1903px #fff, 573px 1510px #fff, 983px 1387px #fff,
    94px 755px #fff, 881px 247px #fff, 344px 962px #fff, 1410px 1017px #fff,
    1402px 976px #fff, 1708px 1906px #fff, 239px 742px #fff, 1395px 258px #fff,
    1585px 767px #fff, 1808px 1660px #fff, 1121px 1959px #fff, 76px 979px #fff,
    577px 425px #fff, 332px 572px #fff, 689px 312px #fff, 363px 824px #fff,
    1141px 1867px #fff, 1480px 400px #fff, 1321px 497px #fff, 1526px 853px #fff,
    1128px 1177px #fff, 128px 125px #fff, 1112px 1579px #fff, 1080px 1973px #fff,
    1136px 901px #fff, 1029px 701px #fff, 1374px 1401px #fff, 1373px 95px #fff;
}
